<ion-view>
  <ion-content id="" has-header="true" padding="true">
<div class="" id="privacyPolicy">
    <h2>Privacy Policy</h2>

    <h3>MehndiSTAR wants you to fully understand our privacy practices.</h3>
    <p>Your loyalty as a user or visitor is important, and we hope that our concerns regarding your privacy, as described in this policy (the "Privacy Policy" or "Policy"), demonstrate our commitment to making your experience with MehndiSTAR an enjoyable and satisfying one.</p>

    <p>Although MehndiSTAR respects the privacy of all those who visit our Web sites and use our online services, we do collect information from our users and visitors. This Privacy Policy governs your interaction with the MehndiSTAR Android application and web site, your login with Facebook for use of MehndiSTAR online services (collectively, the "Services"). Except as set forth within this Privacy Policy and other published guidelines, we do not release personally identifiable information about our users and visitors without their permission.</p>

    <p>Note that, by using the Services, you signify your agreement to this Privacy Policy. If you do not agree to this Policy, please do not use the Services. Your continued use of the Services subsequent to changes to this Policy will mean that you accept the changes. If you have any questions regarding this Privacy Policy, or any other privacy issues in connection with the Services please e-mail at info@mehndistar.com.</p>
    <p>Please read this Privacy Policy to learn more about the ways in which we use and protect your personal information. MehndiSTAR reserves the right to change this Privacy Policy at any time and without any notice by posting a revised Privacy Policy on our Web site. Any such revision will become effective immediately upon posting.</p>

    <h3>Disclosure of Personal Information</h3>
    <p>We do not share, sell or rent your personal information to third parties – ever.</p>

    <h3>Information We Collect and How We Use That Information</h3>
    <p>Non-personally identifiable information (information that does not identify a specific individual): When visitors use the Services, we collect and aggregate information indicating, among other things, which pages were visited, the order in which they were visited, and which links were clicked. Collecting such information involves the collection and logging of IP addresses, operating system, and browser software used by each user of the Services. Although such information is not personally identifiable, we can determine from the IP address a visitor's Internet Service Provider and the geographic location of his or her point of connectivity.</p>
    <p>The non-personally identifiable information we collect helps us identify the most popular areas of our web site and determine the effectiveness of our promotional activities. </p>
    <p>We do not make use of cookies - that is, small text files placed on your computer's hard drive.</p>

    <h3>We do not share, sell or rent your personal information to third parties – ever.</h3>
    <p>In certain areas of the Services - such as those in which you login with Facebook - we get your certain personally identifiable information, such as your e-mail address and name from Facebook. We will, in such situations, seek to identify which informational items are required and which are optional.</p>

    <p>The Services are not available to children under 18 years of age. We do not knowingly collect personally identifiable information from children under 18 years of age.</p>
    <p>Please note that MehndiSTAR cannot control the acts of users of the Services. All users and visitors should be aware that, when they disclose personally identifiable information, it may be collected and used by MehndiSTAR support team to send that person communication email regarding any issues or complaints raised by same or other users or visitors. In the event that you encounter any MehndiSTAR user who is improperly collecting or using information about you or other users, please contact info@mehndistar.com.</p>

    <h3>How we use (and do not use) personally identifiable information</h3>
    <p>MehndiSTAR does not sell, re-sell or distribute for re-sale your personally identifiable information.</p>
    <p>Please note that MehndiSTAR reserves the right to disclose information submitted by or concerning any visitor or user as we reasonably feel is necessary to protect our systems or business. Specifically, but without limitation, we reserve the right to disclose such information when a visitor or user is in violation of our Terms of Service or other published guidelines, or partakes (or is reasonably suspected of partaking) in any harmful, infringing or illegal activity, even without a subpoena, warrant, or other court order, and to disclose such information in response to court and governmental orders, civil subpoenas, discovery requests, and as otherwise required by law, as well as in response to allegations of infringement.</p>
    <p>We cooperate with law enforcement agencies in identifying those who may be using our servers or services for illegal activities. We also reserve the right to report any suspected illegal activity to law enforcement for investigation or prosecution, or to suspend or terminate your membership in connection with any suspected illegal or infringing activity. Finally, MehndiSTAR reserves the right to assign, sell, license, or otherwise transfer to a third party your personally identifiable information in connection with an assignment, sale, joint venture, or other transfer or disposition of any portion or all of MehndiSTAR or its affiliated entities, assets or stock.</p>
    <p>All information made available to MehndiSTAR may be made available to our contractors and consultants, and professional advisors (such as attorneys or accountants), but only to the extent necessary for them to perform services on our behalf, and only under a duty of confidentiality.</p>

    <h3>Questions?</h3>
    <p>Questions regarding this Privacy Policy should be directed to info@mehndistar.com</p>

</div>
  </ion-content>
</ion-view>
<script>
    function setTabClass() {
           angular.element(document.querySelector("#tabHome")).removeClass("active");
           angular.element(document.querySelector("#tabSearch")).removeClass("active");
           angular.element(document.querySelector("#tabMyprofile")).removeClass("active");
           angular.element(document.querySelector("#tabCamera")).removeClass("active");
           angular.element(document.querySelector("#tabUpload")).removeClass("active");
        };
        setTabClass();
</script>





               