<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>ZoomImage - MehndiSTAR</title>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js">
</script>
<style>
img {
  cursor: -webkit-zoom-in; 
  cursor: -moz-zoom-in;
}
</style>
</head>
<body>
<div style="background-color: black;height:100%;width:100%;overflow: auto;"  ng-hide="!imagetoZoom">
    <div class="frame" style="margin:0px;">
    <span class="helper"></span>
<img id="img" src="" style="vertical-align: middle;" ng-init="initZoom()" ng-style="imgStyle" 
ng-mouse-wheel-up="zoomUp()"  
ng-mouse-wheel-down="zoomDown()"style="min-height: 600px;min-width: 600px"/>
    </div>
</div>
</body>
</html>


