
<head>
    <title>About Us - MehndiSTAR</title>
</head>
<ion-view>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
          <h1 class="title">About Us</h1>
      </ion-nav-buttons>
  <ion-content id="aboutUs" has-header="true" padding="true">
    <img src="img/344-60.png" alt="aboutuslogo"/>
    <h4>Version 0.0.7</h4>
    <p> © Copyright 2015 Systenics Solutions.</p>
    <p>All rights reserved.</p>
  </ion-content>
</ion-view>
